<div class="container-fluid py-4">
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2>Estudiantes</h2>
        <div class="card">
            <div class="card-body">
                <form action="" method="">
                    <div class="form-group">
                        <input type="text"  class="form-control" placeholder="Nombres"
                            minlength="6" maxlength="6" required>
                    </div>
                    <div class="form-group">
                        <input type="text"  class="form-control" placeholder="Apellidos"
                            maxlength="50" required>
                    </div>
                    <div class="form-group">
                        <input type="text"  class="form-control" min="1" max="9" placeholder="Cedula"
                             required>
                    </div>
                    <div class="form-group">
                        <input type="text"  class="form-control" min="1" max="9" placeholder="Edad"
                             required>
                    </div>
                    <div class="form-group">
                        <input type="text"  class="form-control" min="1" max="9" placeholder="Email"
                             required>
                    </div>
                    <div class="form-group">
                        <input type="text"  class="form-control" min="1" max="9" placeholder="Fecha de nacimiento"
                             required>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-block text-white"><img src="./assets/save.png"  height="20px"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Filtrar por cedula" aria-label="Search">
            <button class="btn btn-outline-success" type="submit"><img src="./assets/lupa.png" height="20px" alt=""></button>
          </form>
        <h1>Listado de estudiantes</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Cedula</th>
                        <th>Edad</th>
                        <th>Email</th>
                        <th>Nacimiento</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let es of estudiantes">
                        <td>{{es.nombres}}</td>
                        <td>{{es.apellidos}}</td>
                        <td>{{es.cedula}}</td>
                        <td>{{es.edad}}</td>
                        <td>{{es.email}}</td>
                        <td>{{es.nacimiento}}</td>
                        <td><a href="" class="btn"><img src="./assets/editar.png" height="20px" alt=""></a></td>
                        <td><a href="" class="btn"><img src="./assets/delete.png" height="20px" alt=""></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
