<div class="container-fluid py-4">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <h2>Representantes</h2>
            <div class="card">
                <div class="card-body">
                    <form action="" method="">
                        <div class="form-group">
                            <select  class="form-select form-select-sm" >
                                <option value="">Seleccione representado</option>
                                <option *ngFor="let es of estudiantes" value="{{es.nombres}}" >{{es.nombres}}</option>
                              </select>
                        </div>
                        <div class="form-group">
                            <input type="text"  class="form-control" placeholder="Nombres"
                                maxlength="50" required>
                        </div>
                        <div class="form-group">
                            <input type="text"  class="form-control" placeholder="Apellidos"
                                maxlength="50" required>
                        </div>
                        <div class="form-group">
                            <input type="text"  class="form-control" min="1" max="9" placeholder="Cedula"
                                 required>
                        </div>
                        <div class="form-group">
                            <input type="text"  class="form-control" min="1" max="9" placeholder="Ocupacion"
                                 required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block text-white"><img src="./assets/save.png"  height="20px"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Filtrar por cedula" aria-label="Search">
                <button class="btn btn-outline-success" type="submit"><img src="./assets/lupa.png" height="20px" alt=""></button>
              </form>
            <h1>Listado de representantes</h1>
            <div class="table-responsive py-2">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Representado</th>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Cedula</th>
                            <th>Ocupacion</th>
                            <th colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let re of representantes" >
                            <td>{{re.representado}}</td>
                            <td>{{re.nombres}}</td>
                            <td>{{re.apellidos}}</td>
                            <td>{{re.cedula}}</td>
                            <td>{{re.ocupacion}}</td>
                            <td><a href="" class="btn"><img src="./assets/editar.png" height="20px" alt=""></a></td>
                            <td><a href="" class="btn"><img src="./assets/delete.png" height="20px" alt=""></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
