<div class="container-fluid py-4">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <h2>Materias</h2>
            <div class="card">
                <div class="card-body">
                    <form action="" method="">
                        <div class="form-group">
                            <select  class="form-select form-select-sm" >
                                <option value="">Seleccione estudiante</option>
                                <option *ngFor="let es of materias" value="{{es.estudiante}}" >{{es.estudiante}}</option>
                              </select>
                        </div>
                        <div class="form-group">
                            <input type="text"  class="form-control" placeholder="Nombre"
                                minlength="6" maxlength="6" required>
                        </div>
                        <div class="form-group">
                            <input type="text"  class="form-control" placeholder="Facultad"
                                maxlength="50" required>
                        </div>
                        <div class="form-group">
                            <input type="text"  class="form-control" min="1" max="9" placeholder="Carrera"
                                 required>
                        </div>
                        <div class="form-group">
                            <input type="text"  class="form-control" min="1" max="9" placeholder="Nivel"
                                 required>
                        </div>
                        <div class="form-group">
                            <input type="text"  class="form-control" min="1" max="9" placeholder="Paralelo"
                                 required>
                        </div>
                        <div class="form-group">
                            <input type="text"  class="form-control" min="1" max="9" placeholder="Jornada"
                                 required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block text-white"><img src="./assets/save.png"  height="20px"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Filtrar por cedula" aria-label="Search">
                <button class="btn btn-outline-success" type="submit"><img src="./assets/lupa.png" height="20px" alt=""></button>
              </form>
            <h1>Listado de materias por cada estudiante</h1>
            <div class="table-responsive py-2">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Estudiante</th>
                            <th>Materia</th>
                            <th>Facultad</th>
                            <th>Carrera</th>
                            <th>Nivel</th>
                            <th>paralelo</th>
                            <th>Jornada</th>
                            <th colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ma of materias">
                            <td>{{ma.estudiante}}</td>
                            <td>{{ma.nombre}}</td>
                            <td>{{ma.facultad}}</td>
                            <td>{{ma.carrera}}</td>
                            <td>{{ma.nivel}}</td>
                            <td>{{ma.paralelo}}</td>
                            <td>{{ma.jornada}}</td>
                            <td><a href="" class="btn"><img src="./assets/editar.png" height="20px" alt=""></a></td>
                            <td><a href="" class="btn"><img src="./assets/delete.png" height="20px" alt=""></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
