<style>    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .form-container {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        width: 80%;
        max-width: 400px;
    }
    
    h2 {
        text-align: center;
    }

    .form-container, img{
        text-align: center;
    }
    
    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    label {
        font-weight: bold;
    }
    
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        padding: 10px;
        border-radius: 5px;
        border: none;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    }
    
    input[type="submit"] {
        background-color: #4CAF50;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .ab{
        background-color: #3e8e41;
        text-decoration: none;
        -webkit-text-fill-color: white;
    }


    
    .register-link,
    .login-link {
        margin-top: 10px;
        text-align: center;
    }
    
    .hidden {
        display: none;
    }
</style>
<div class="container">
    <div class="form-container">
            <img src="./assets/logo.png"  height="50px"  />
        <form class="login-form" >
            <h2>Iniciar sesión</h2>
            <label >Nombre de usuario</label>
            <input type="text" id="" name="" required>
            <label >Contraseña</label>
            <input type="password" id="" name="" required>
            <a class="ab" href="/adentro">Entrar</a>
            <p class="register-link">¿No tienes cuenta? <a href="/crear-tutor" class="show-register">Regístrate</a></p>
        </form>
    </div>
</div>