<div class="container-fluid py-4">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <h2>Tratamientos cumplidos</h2>
            <div class="card">
                <div class="card-body">
                    <form action="" method="">
                        <div class="form-group">
                            <select  class="form-select form-select-sm" >
                                <option value="">Seleccione tratamiento</option>
                                <option *ngFor="let es of cumplidos" value="{{es.cumplido}}" >{{es.cumplido}}</option>
                              </select>
                        </div>
                        <div class="form-group">
                            <input type="text"  class="form-control" placeholder="Observacion"
                                maxlength="50" required>
                        </div>
                        <div class="form-group">
                            <input type="text"  class="form-control" placeholder="Fecha de inicio"
                                maxlength="50" required>
                        </div>
                        <div class="form-group">
                            <input type="text"  class="form-control" min="1" max="9" placeholder="Fecha de terminacion"
                                 required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block text-white"><img src="./assets/save.png"  height="20px"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Filtrar por fecha" aria-label="Search">
                <button class="btn btn-outline-success" type="submit"><img src="./assets/lupa.png" height="20px" alt=""></button>
              </form>
            <h1>Listado de tratamientos cumplidos</h1>
            <div class="table-responsive py-2">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Tratamiento cumplido</th>
                            <th>Observacion</th>
                            <th>Fecha de inicio</th>
                            <th>Fecha de terminacion</th>
                            <th colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cum of cumplidos" >
                            <td>{{cum.cumplido}}</td>
                            <td>{{cum.observacion}}</td>
                            <td>{{cum.inicio}}</td>
                            <td>{{cum.fin}}</td>
                            <td><a href="" class="btn"><img src="./assets/editar.png" height="20px" alt=""></a></td>
                            <td><a href="" class="btn"><img src="./assets/delete.png" height="20px" alt=""></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>