<div class="container-fluid py-4">
    <nav class="navbar navbar-expand-lg bg-primary fixed-top">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">
                    <img src="./assets/logo.png"
                     alt="Logo" width="30" 
                     height="24" class="d-inline-block align-text-top">
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/adentro">CAPACIDADES ESPECIALES</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Registros
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/estudiantes">Estudiante</a></li>
                  <li><a class="dropdown-item" href="/representantes">Representante del estudiante</a></li>
                  <li> <a class="nav-link enable" href="">Cerrar sesion</a></li>
                  <li><hr class="dropdown-divider"></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Seguimientos
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/seguimiento-medico">Medicos</a></li>
                  <li><a class="dropdown-item" href="/seguimiento-academico">Academicos</a></li>
                  <li> <a class="nav-link enable" href="">Cerrar sesion</a></li>
                  <li><hr class="dropdown-divider"></li>
                </ul>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <a class="nav-link enable" href="#">Alfredo Arias </a>
            </form>
          </div>
        </div>
      </nav>
    </div>
