<div class="container-fluid py-4">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <h2>Tratamientos no cumplidos</h2>
            <div class="card">
                <div class="card-body">
                    <form action="" method="">
                        <div class="form-group">
                            <select  class="form-select form-select-sm" >
                                <option value="">Seleccione tratamiento</option>
                                <option *ngFor="let es of nocumplidos" value="{{es.no}}" >{{es.no}}</option>
                              </select>
                        </div>
                        <div class="form-group">
                            <input type="text"  class="form-control" min="1" max="9" placeholder="Observacion"
                                 required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block text-white"><img src="./assets/save.png"  height="20px"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
            <h1>Listado de tratamientos que no se cumplieron</h1>
            <div class="table-responsive py-2">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Tratamiento no cumplido</th>
                            <th>Observacion</th>
                            <th colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let nocum of nocumplidos" >
                            <td>{{nocum.no}}</td>
                            <td>{{nocum.observacion}}</td>
                            <td><a href="" class="btn"><img src="./assets/editar.png" height="20px" alt=""></a></td>
                            <td><a href="" class="btn"><img src="./assets/delete.png" height="20px" alt=""></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
