<div class="container-fluid py-4">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <h2>Tratamiento medico</h2>
            <div class="card">
                <div class="card-body">
                    <form action="" method="">
                        <div class="form-group">
                            <input type="text"  class="form-control" min="1" max="9" placeholder="Clase de discapacidad"
                                 required>
                        </div>
                        <div class="form-group">
                            <select  class="form-select form-select-sm" >
                                <option value="">Seleccione estudiante</option>
                                <option *ngFor="let es of tratamientos" value="{{es.estudiante}}" >{{es.estudiante}}</option>
                              </select>
                        </div>
                        <div class="form-group">
                            <input type="text"  class="form-control" placeholder="Tratamiento psicologico"
                                maxlength="50" required>
                        </div>
                        <div class="form-group">
                            <input type="text"  class="form-control" placeholder="Tratamiento fisico"
                                maxlength="50" required>
                        </div>
                        <div class="form-group">
                            <input type="text"  class="form-control" min="1" max="9" placeholder="Descripcion de consulta"
                                 required>
                        </div>
                        <div class="form-group">
                            <input type="text"  class="form-control" min="1" max="9" placeholder="Opinion del paciente"
                                 required>
                        </div>
                        <div class="form-group">
                            <input type="text"  class="form-control" min="1" max="9" placeholder="Fecha de consulta"
                                 required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block text-white"><img src="./assets/save.png"  height="20px"></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Filtrar por estudiante" aria-label="Search">
                <button class="btn btn-outline-success" type="submit"><img src="./assets/lupa.png" height="20px" alt=""></button>
              </form>
            <h1>Listado de consultas para tratamientos</h1>
            <div class="table-responsive py-2">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Discapacidad</th>
                            <th>Estudiante</th>
                            <th>Tratamiento psicologico</th>
                            <th>Tratamiento fisico</th>
                            <th>Descripcion de consulta</th>
                            <th>Opinion de paciente</th>
                            <th>Fecha de consulta</th>
                            <th colspan="2">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tra of tratamientos" >
                            <td>{{tra.discapacidad}}</td>
                            <td>{{tra.estudiante}}</td>
                            <td>{{tra.psicologico}}</td>
                            <td>{{tra.fisico}}</td>
                            <td>{{tra.descripcion}}</td>
                            <td>{{tra.opinion}}</td>
                            <td>{{tra.fecha}}</td>
                            <td><a href="" class="btn"><img src="./assets/editar.png" height="20px" alt=""></a></td>
                            <td><a href="" class="btn"><img src="./assets/delete.png" height="20px" alt=""></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
